apiVersion : apps/v1beta1
kind: Deployment
metadata:
  name: zodiaczodiacexamplevotingapp 
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: zodiaczodiacexamplevotingapp 
    spec:
      containers:
        - name: zodiaczodiacexamplevotingapp 
          image: eusdsolacr001.azurecr.io/zodiaczodiacexamplevotingapp
          ports:
          - containerPort: 80